<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.team404.freereply.mapper.ReplyMapper">

	<insert id="regist">
		insert into FREEREPLY(rno, bno, reply, replyId,
		replyPw)
		values (FREEREPLY_SEQ.nextval, #{bno}, #{reply}, #{replyId},
		#{replyPw})
	</insert>

	<select id="getList" resultType="FreeReplyVO">
  		<![CDATA[
  			select *
			from (
				select @rownum := @rownum + 1 rn,
					   a.*,
					   case when gap <= 60 then '방금 전'
							when gap <= 60*24 then concat(truncate(gap/60, 0), '시간 전')
							else date_format(replyDate, '%Y-%m-%d')
			           end as timegap
				from (
					select rno,
						   bno,
						   reply,
						   replyId,
						   replyPw,
						   replyDate,
						   updateDate,
						   truncate((now() - replydate) / 60, 0) as gap
						from FREEREPLY 
			            where bno = 1 order by rno desc ) a ) b, (select @rownum := 0 ) c
			where rn > (#{cri.pageNum} - 1) * #{cri.amount} and rn <= #{cri.pageNum} * #{cri.amount}
			
		]]>
	</select>
	
	<select id="getTotal" resultType="int">
		select count(*) as total from freereply where bno = #{bno}
	</select>

	<!-- 조건절이 ture면 결과 1, false면 0 -->
	<select id="pwCheck" resultType="int">
		select count(*) as count
		from
		FREEREPLY
		where rno = #{rno} and replyPw = #{replyPw}
	</select>

	<update id="update">
		update FREEREPLY
		set reply = #{reply},
		updateDate =
		sysdate
		where rno = #{rno}
	</update>

	<delete id="delete">
		delete from freereply
		where rno = #{rno} and replyPw =
		#{replyPw}
	</delete>
</mapper>